.check {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &Box {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            width: 16px;
            height: 16px;
            appearance: none;
            background: rgba(255, 255, 255, .2);
            border-radius: 4px;
            cursor: pointer;
        }
        svg {
            position: absolute;
            display: none;
            pointer-events: none;
            z-index: 1;
        }
        input:checked + svg {
            display: block; // Показываем иконку, когда чекбокс выбран
        }
    }

    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
}
